<section id="Footer" class="section footer wf-section">
      <div class="container w-container">
        <div class="top-footer">
          <ul role="list" class="footer-list">
            <li class="socials-list-item">
              <a href="{{ links.70c4f3fd }}" target="_blank" class="socials-link">{{ texts.2c9a4253 }}</a>
            </li>
            <li class="socials-list-item">
              <a href="{{ links.-395e5746 }}" target="_blank" class="socials-link">{{ texts.792b2792 }}</a>
            </li>
            <li class="socials-list-item">
              <a href="{{ links.-14630be1 }}" target="_blank" class="socials-link">{{ texts.4b0ff13e }}</a>
            </li>
            <li class="socials-list-item">
              <a href="{{ links.-119484bc }}" target="_blank" class="socials-link">{{ texts.45409cc }}</a>
            </li>
            <li class="socials-list-item">
              <a href="{{ links.-43a6fa0d }}" target="_blank" class="socials-link">{{ texts.-13e98166 }}</a>
            </li>
            <li class="socials-list-item">
              <a href="{{ links.29a824b }}" class="socials-link tan">{{ texts.3ff5b7c }}</a>
            </li>
          </ul>
        </div>
        <div class="bottom-footer">
          <div class="footer-text">{{ texts.-4a53aee8 }}</div>
          <div class="spacer _16"></div>
          <ul role="list" class="footer-list">
            <li class="footer-list-item">
              <a href="{{ links.-6aead341 }}" class="legal-link">{{ texts.-6d46ea4c }}</a>
            </li>
          </ul>
        </div>
        <div class="spacer _48"></div>
        <h2 class="heading h1 footer">{{ texts.-5e3cacd2 }}<br>{{ texts.-39182d90 }}</h2>
      </div>
    </section>