<div data-animation="default" class="navbar w-nav" data-easing2="ease-in-quint" data-easing="ease-out-quint" data-collapse="tiny" data-w-id="9bb78e1d-ab04-a832-1bc9-0d845fc373a1" role="banner" data-duration="400" id="Navbar">
      <section class="navbar-container">
        <div class="navbar-logo-div">
          <a href="{{ links.2f }}" aria-current="page" class="navbar-logo-link w-inline-block w--current"><img src="{{ images.64db88a7.url }}" loading="lazy" width="128" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;48px&quot;}]" alt="{{ images.64db88a7.alt | trim | escape }}" class="navbar-logo"></a>
        </div>
        <nav role="navigation" class="navbar-main-container w-nav-menu">
          <div class="navbar-menu">
            <a href="{{ links.23b6d84a }}" class="navbar-link">{{ texts.-75f66c11 }}</a>
            <a href="{{ links.51e83974 }}" class="navbar-link">{{ texts.22d952 }}</a>
            <a href="{{ links.29a824b }}" class="navbar-link cta">{{ texts.20313f }}</a>
          </div>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="menu-text">{{ texts.248a06 }}</div>
        </div>
      </section>
    </div>